/* --- STYLES FOR ALL PAGES --- */
body {
  /* Typography */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  /* Visual */
  background-image: url("../imgs/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

/* add space for fixed nav */
main {
  margin: 80px 0;
}

/* create styles for use for all the content boxes */
.block {
  /* Visual */
  background-color: rgb(214, 209, 209);
  /* Positioning */
  padding: 30px;
  margin-bottom: 30px;
}

.block-header {
  /* Typography */
  color: #b263bb;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

/* remove margins from rows to allow borders */
.row {
  margin-right: 0;
  margin-left: 0;
}
/* NAV START */
#logo {
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  padding: 0 0.5em;

  /* Visual */
  /* background: #4aaaa5; */
}

/* override bootstrap hover color and border */
.navbar-default .navbar-nav > li > a:hover {
  color: #4aaaa5;
}

/* navbar styling */
.navbar {
  background: #b263bb;
  border: none;
}

/* media query for nav background color change on sm screen */
@media only screen and (max-width: 767px) {
  .navbar {
    background: #c3daf1;
  }
  .navbar-light .navbar-nav .nav-link {
    color: gray;
  }
}

/* media query for nav background color change on xs screen */
@media only screen and (max-width: 576px) {
  .container {
    padding-left: 0;
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;
  }
}
/* END NAV */

/* CONNECT W/ ME CSS */
.connect-header {
  /* Typography */
  font-size: 25px;
}

.connect-photo {
  /* Box-model */
  width: 55px;
  height: 55px;
}

#images {
  /* Box-model */
  padding-top: 15px;

  /* Typography */
  text-align: center;
}
/* END CONNECT W/ ME */


/* BEGIN FOOTER */
.footer {
  /* Positioning */
  position: absolute;
  bottom: 0;

  /* Box-model */
  width: 100%;
  height: 60px;

  /* Visual */
  background-color: #666;
}

.text-muted-footer {
  /* Box-model */
  margin-top: 15px;

  /* Typography */
  color: #fff;
}

.two-toned-footer-color {
  /* Box-model */
  height: 6px;
  padding-top: 3px;

  /* Visual */
  background-color: #4aaaa5;
}
/* END FOOTER */
/* --- END STYLES FOR ALL PAGES --- */

/* --- PAGE-SPECIFIC STYLES --- */
/* ABOUT-ME PAGE */
.about-me-header {
  /* Positioning */
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 32px;
  font-weight: bold;
  color: #4aaaa5;
}

  /* Style the card */
.card {
  /* Visual - match to other content */
  background: rgb(214, 209, 209);
}

.card p{
  /* Typography */
  text-align: center;
 }
/* END ABOUT-ME PAGE */


/* PORTFOLIO PAGE */
.port-image {
  margin: 20px auto;
}
/* END PORTFOLIO PAGE */


/* CONTACT FORM PAGE  */
.form-control {
  /* give input boxes right angles */
  border-radius: 0;

  /* keep from horizontally resizing text area */
  min-width: 100%;
  max-width: 100%;
}

.submit-btn {
  /* Box-model */
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;

  /* Typography */
  color: #fff;

  /* Visual */
  background-color: #4aaaa5;
  border: 0;
}

.submit-btn:hover {
  opacity: .7;
}

p {
 margin: 0;
}

.subrow {
  border: solid 1px blue;
}


.carousel {
  max-height: 100%;
}

/* END CONTACT FORM PAGE */

/* STICKY FOOTER */

#sticky-footer {
  position: relative;
  bottom: 0;
  flex-shrink: 0;
}